html {
  background: url(../../images/backgroundJS.jpg) no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  padding-left: 10px;
}

.container-fluid {
  background-color: white;
}

.cont {
    width: 100%;
}

#block {
  position: absolute;
  top: 220px;
  left: 10px;
  margin: 0;
  height: 50px;
  width: 50px;
  background-color: black;
}
